.custom-card {
    background-color: #f8f9fa; /* Fondo gris claro */
    border-radius: 0.5rem; /* Border-radius est치ndar de Bootstrap */
    margin: 0; /* Elimina el margen entre las tarjetas */
    padding: 15px; /* A침ade un padding interno */
    box-sizing: border-box; /* Asegura que el padding no aumente el tama침o */
  }

.titulo-card{
    font-size: 1.5rem;
}

.subtitulo-card{
    font-size: 0.9rem;
    color: rgb(230, 212, 212);
    font-style: Normal weight;
}

.text-gray {
    color: #6c757d; /* Color gris */
}

.text-gray:hover {
    color: #313437; /* Color al pasar el rat칩n, opcional */
}

.main-card {
    border: 1px solid #ddd; 
    border-top: 5px solid #1f50c2; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 10px; 
    background-color: #fff; 
  }