@{
  ViewData["Title"] = "Empresas";
}

<link rel="stylesheet" href="~/css/empresas.css" asp-append-version="true" />


<div class="text-center">
    <h1 class="display-4">Empresas</h1>
</div>

<!-- Modal -->
<div class="modal fade" id="modalEmpresas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="tituloModal">Nueva Empresa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form>
          <div class="row">

            <input type="hidden" id="empresaID" value="0">

            <div class="mb-3 col-6">
              <label for="razonSocial" class="form-label">Razon social</label>
              <input type="text" class="form-control" id="razonSocial" placeholder="Ingrese razon social" oninput="textoMayuscula(this)">
            </div>

            <div class="mb-3 col-6">
              <label for="nombreFantasia" class="form-label">Nombre de fantasia</label>
              <input type="text" class="form-control" id="nombreFantasia" placeholder="Ingrese el nombre de fantasia" oninput="textoMayuscula(this)">
            </div>
          </div>

          <div class="row">
            <div class="mb-3 col-6">
              <label for="domicilio" class="form-label">Domicilio</label>
              <input type="text" class="form-control" id="domicilio" placeholder="Ingrese el domicilio" oninput="textoMayuscula(this)">
            </div>

            <div class="mb-3 col-6">
              @* <label for="localidad" class="form-label">Localidad</label> *@
              <label for="LocalidadID" class="form-label">Localidad</label>
              @Html.DropDownList("LocalidadID", null, htmlAttributes: new { @class = "form-control" })
            </div>
          </div>

          <div class="row">
            <div class="mb-3 col-6">
              <label for="documento" class="form-label">Numero de documento</label>
              <input type="text" class="form-control" id="documento" placeholder="Ingrese el Nº de docimento">
            </div>

            <div class="mb-3 col-6">
              <label for="telefono" class="form-label">Telefono</label>
              <input type="text" class="form-control" id="telefono" placeholder="Ingrese el telefono">
            </div>
          </div>

          <div class="row">
            <div class="mb-3 col-6">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Ingrese el Email" oninput="textoMayuscula(this)">
            </div>

            <div class="mb-3 col-6">
              <label for="usuarioTitular" class="form-label">Usuario titular</label>
              <input type="text" class="form-control" id="usuarioTitular" placeholder="Ingrese el usuario titular" oninput="textoMayuscula(this)">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-ovalo ancho-boton" data-bs-dismiss="modal">CANCELAR</button>
        <button type="button" class="btn-ovalo ancho-boton" data-bs-dismiss="modal" onclick="AgregarEmpresa()">GUARDAR</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-light table-hover">
    <thead>
        <tr>
            <th>Razón Social</th>
            <th>Nombre Empresa</th>
            <th>Localidad</th>
            <th>DNI</th>
            <th>Teléfono</th>            
            <th>Email</th>
            <th>Nombre Titular</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

  <tbody id="tbody-tablaEmpresa">
    
  </tbody>
</table>


<!--Boton para agregar nueva empresa-->
<div class="d-flex justify-content-end align-items-center bd-highlight mb-2 fixed-bottom div-boton ">
  <div class="p-2 bd-highlight d-flex "><button type="submit" class="btn btn-primary mt-3 botonEmpresa"
      data-bs-toggle="modal" data-bs-target="#modalEmpresas"><i class="fa-solid fa-plus">add</i></button>
  </div>
</div>

 @section Scripts{
  <script src="~/js/empresas-1.0.0.js"></script>
}